                <!-- content -->
                <div class="content">
                    <!-- column-image  -->
                    <div class="column-image">
                        <div class="bg"  data-bg="images/bg/1.jpg"></div>
                        <div class="overlay"></div>
                        <div class="column-title">
                            <h2>About Us</h2>
                            <h3>The BitGrabbers</h3>
                        </div>
                        <div class="column-notifer">
                            <div class="scroll-down-wrap transparent_sdw">
                                <div class="mousey">
                                    <div class="scroller"></div>
                                </div>
                                <span>Scroll down  to Discover</span>
                            </div>
                        </div>
                        <div class="fixed-column-dec"></div>
                    </div>
                    <!-- column-image end  -->
                    <!-- column-wrapper -->
                    <div class="column-wrapper">
                        <!--section  -->
                        <section id="sec1">
                            <div class="container small-container">
                                <div class="section-title fl-wrap">
                                    <h3>The BitGrabbers</h3>
                                    <h4>Grabbing bits of videogames art.</h4>
                                    <div class="section-number">01.</div>
                                </div>
                                <div class="column-wrapper_item fl-wrap">
                                    <div class="column-wrapper_text fl-wrap">
                                        <p>Some of us do it to spice up their favorite games, others to familiarize with web developing, and others to improve their photography skills. All of us, without exception, do it for passion.
                                        </p>
                                        <p>We take screenshots of video games we like and share them here with you all.
                                        Download them, share them, use them as wallpapers for your desktop. You can do what you want with BitGrabbers screenshots, as long as you don't sell them or claim them as your own (and yes, we have the means to know if you will...).<br>
                                        Just keep in mind that we're not professionals and we don't own supercomputers with ninja hardware... anyway, we compensate the lack of maximum quality with a sense of art and deep passion for video games.
                                        </p>
                                        <p>Enjoy BitGrabbers and share our screenshots! </p>
                                        <div class="inline-facts-holder fl-wrap">
                                            <!-- inline-facts -->
                                            <div class="inline-facts">
                                                <div class="milestone-counter">
                                                    <div class="stats animaper">
                                                        <div class="num" data-content="<%= @screenshots_count %>" data-num="<%= @screenshots_count %>"><%= @screenshots_count %></div>
                                                    </div>
                                                </div>
                                                <h6>Screenshots taken</h6>
                                            </div>
                                            <!-- inline-facts end -->
                                            <!-- inline-facts  -->
                                            <div class="inline-facts">
                                                <div class="milestone-counter">
                                                    <div class="stats animaper">
                                                        <div class="num" data-content="<%= @games_count %>" data-num="<%= @games_count %>"><%= @games_count %></div>
                                                    </div>
                                                </div>
                                                <h6>Games played</h6>
                                            </div>
                                            <!-- inline-facts end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--section end  -->
                        <!--footer -->
                        <footer class="min-footer fl-wrap content-animvisible">
                            <div class="container small-container">
                                <div class="footer-inner fl-wrap">
                                    <!-- policy-box-->
                                    <div class="policy-box">
                                        <span>&#169; Kotlis 2019  /  All rights reserved. </span>
                                    </div>
                                    <!-- policy-box end-->
                                    <a href="#" class="to-top-btn to-top">Back to top <i class="fal fa-long-arrow-up"></i></a>
                                </div>
                            </div>
                        </footer>
                        <!--footer end  -->
                    </div>
                    <!-- column-wrapper -->
                </div>
                <!--content end-->
