                <!--content -->
                <div class="content full-height  hidden-item no-mob-hidden">
                    <!-- fw-carousel-wrap -->
                    <div class="fw-carousel-wrap fsc-holder">
                        <!-- fw-carousel  -->
                        <div class="fw-carousel  fs-gallery-wrap fl-wrap full-height lightgallery" data-mousecontrol="true">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <% @screenshots.each do |screenshot| %>
                                    <!-- swiper-slide-->
                                    <div class="swiper-slide hov_zoom <%= screenshot == @screenshots.last ? 'swiper-link-wrap' : '' %> ">
                                        <%= image_tag(screenshot.image.low_quality.url, alt: screenshot.title) %>
                                        <a href="<%= screenshot.image.original.url %>" class="box-media-zoom   popup-image" title="slideshow"><i class="fal fa-search"></i></a>
                                        <div class="thumb-info">
                                            <h3><%= link_to screenshot.title, game_screenshot_path(game_id: screenshot.game, id: screenshot), title: screenshot.title %></h3>
                                            <p><%= screenshot.game.name %></p>
                                        </div>
                                        <% if screenshot == @screenshots.last %>
                                            <%= link_to raw("<span>More screenshots</span>"), screenshots_path, title: "More screenshots", class: "swiper-link" %>
                                        <% end %>
                                    </div>
                                    <!-- swiper-slide end-->
                                    <% end %>
                                </div>
                            </div>
                        </div>
                        <!-- fw-carousel end -->
                    </div>
                    <!--slider-counter-->
                    <div class="slider-counter_wrap">
                        <div class="fw-carousel-counter"></div>
                    </div>
                    <!--slider-counter end-->
                    <!--bottom-panel-->
                    <div class="bottom-panel">
                        <div class="bottom-panel-column bottom-panel-column_left">
                            <div class="scroll-down-wrap">
                                <div class="mousey">
                                    <div class="scroller"></div>
                                </div>
                                <span>Scroll down or  Swipe</span>
                            </div>
                            <div class="fs-controls_wrap">
                                <div class="fw_cb fw-carousel-button-prev"><i class="fal fa-angle-left"></i></div>
                                <div class="fw_cb fw-carousel-button-next"><i class="fal fa-angle-right"></i></div>
                            </div>
                        </div>
                        <div class="bottom-panel-column bottom-panel-column_right">
                            <div class="half-scrollbar">
                                <div class="hs_init"></div>
                            </div>
                        </div>
                    </div>
                    <!--bottom-panel end-->
                </div>
                <!--content end-->