                <!-- content -->
                <div class="content full-height">
                    <!--home-main_container-->
                    <div class="home-main_container">
                        <!--follow-wrap-->
                        <div class="follow-wrap">
                            <div class="follow-wrap_title">
                                <span>Follow</span> <i class="fal fa-arrow-right"></i>
                            </div>
                            <div class="clearfix"></div>
                            <ul>
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                            </ul>
                        </div>
                        <!--follow-wrap end-->
                        <!--hero-decor-let-->
                        <div class="hero-decor-let">
                            <% @screenshot.tag_list.each_with_index do |tag, index| %>
                                <div><%= (index + 1) %>. <span><%= tag %></span></div>
                            <% end %>
                        </div>
                        <!--hero-decor-let end-->
                        <!--home-main_title-->
                        <div class="home-main_title">
                            <div class="home-main_title_item">
                                <h4><%= @screenshot.title %></h4>
                                <h2><%= @screenshot.game.name %></h2>
                                <p><%= @screenshot.description %> </p>
                                <%= link_to 'Download', @screenshot.image_url, download: "Screenshot_#{File.basename(@screenshot.image.path)}_image", class: "btn fl-btn" %>
                            </div>
                        </div>
                        <!--home-main_title end-->
                        <div class="slider-mask"></div>
                        <!--bg image-->
                        <div class="bg" data-bg="<%= @screenshot.image_url %>"></div>
                        <div class="overlay"></div>
                        <!--bg image end-->
                    </div>
                    <!--home-main_container end-->
                </div>
                <!--content end-->
