<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title><%= @page_title || "Grabbing bits of videogame art" %> | Bitgrabbers</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content="videogames screenshots"/>
        <meta name="description" content="Videogame screenshots taken by videogames lovers. Because we strongly believe that videogames CAN be a form of art."/>
        <!--=============== css  ===============-->
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <!--=============== scripts  ===============-->
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <!--=============== favicons ===============-->
        <%= favicon_link_tag asset_path('favicon.ico') %>
        <%= csrf_meta_tags %>
        <!--=============== Google Analytics ===============-->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=,<%= Rails.application.credentials.google_analitycs[:tracking_id] %>"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-XXXXXXXX-X');
        </script>
    </head>
    <body>
        <!--loader-->
        <div class="loader-wrap">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <!--loader end-->
        <!-- main start  -->
        <div id="main">
            <!-- header start  -->
            <header class="main-header">
                <!-- logo   -->
                <a href="<%= root_path %>" class="logo-holder"><%= image_tag("logo.png", alt: "bitgrabbers logo") %> title="bitgrabbers"</a>
                <!-- logo end  -->
                <!-- search -->
                <%= search_form_for @q, url: search_path do |f| %>
                    <div class="search-button"><%= f.label :title_or_game_name_cont %></div>
                    <div class="search-input"><%= f.search_field :title_or_game_name_cont, class: "search", placeholder: "Search.." %></div>
                <% end %>
                <!-- search end  -->
                <div class="sb-button"></div>
                <div class="share-btn showshare"><i class="fal fa-megaphone"></i><span>Share</span></div>
                <!-- mobile nav -->
                <div class="nav-button-wrap">
                    <div class="nav-button"><span></span><span></span><span></span></div>
                </div>
                <!-- mobile nav end-->
                <!--  navigation -->
                <div class="nav-holder main-menu">
                    <nav>
                        <ul>
                            <li>
                                <%= link_to "Home ", root_path, title: "Bitgrabbers home", class: active_for(controller: "pages", action: "index") %>
                            </li>
                            <li>
                                <a href="#" class="<%= active_for(controller: "games") %>" title="Games" onclick="return false;">Games </a>
                                <!--second level -->
                                <ul>
                                    <% @games.each do |game| %>
                                        <li><%= link_to game.name, game_path(game), title: game.name %></li>
                                    <% end %>
                                </ul>
                                <!--second level end-->
                            </li>
                            <li>
                                <a href="#" class="<%= active_for(controller: "tags") %>" title="<%= tag.name %>" onclick="return false;">Tags </a>
                                <!--second level -->
                                <ul>
                                    <% @tags.each do |tag| %>
                                        <li><%= link_to tag, tag_path(tag), title: tag.name %></li>
                                    <% end %>
                                </ul>
                                <!--second level end-->
                            </li>
                            <li>
                                <%= link_to "About", about_path, title: "About", class: active_for(controller: "pages", action: "about") %>
                            </li>
                            <li>
                                <%= link_to "Submit your shots", submit_path, title: "Submit your shots", class: active_for(controller: "pages", action: "submit") %>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- navigation  end -->
            </header>
            <!-- header end -->
            <!-- wrapper  -->
            <div id="wrapper">
                <%= yield %>
                <!--share-wrapper-->
                <div class="share-wrapper">
                    <div class="share-container fl-wrap  isShare"></div>
                </div>
                <!--share-wrapper end-->
            </div>
            <!-- wrapper end -->
            <!-- sidebar -->
            <div class="sb-overlay"></div>
            <div class="hiiden-sidebar-wrap outsb">
                <!-- sb-widget-wrap-->
                <div class="sb-widget-wrap fl-wrap">
                    <h3>We Are Social</h3>
                    <div class="sb-widget    fl-wrap">
                        <div class="sidebar-social fl-wrap">
                            <ul>
                                <li><a href="https://www.facebook.com/bitgrabbers/" title="facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/bitgrabbers/" title="instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://twitter.com/bitgrabbers" title="twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- sb-widget-wrap end-->
            </div>
            <!-- sidebar end -->
            <!-- cursor-->
            <div class="element">
                <div class="element-item"></div>
            </div>
            <!-- cursor end-->
        </div>
        <!-- Main end -->
    </body>
</html>